#title {
    display: flex;
    justify-content: center;
    color: grey;
}

.parent {
    display: flex;
    flex-wrap: wrap;
}

.card {
    border-radius: 10px;
    display: inline-block;
    margin: 10px;
    text-align: center;
    flex: 1 0 21%;
    width: 150px;
    height: 20%;
    background-color: gray;
}

.name {
    color: blue
}

/* this sucks */